body{
	background-color: #001F46;
	font-family: 'Acme', sans-serif;
}

h1, h2, h3, h4, ul, p, a{
	margin: 1%; padding: 1px;
}

li{
	list-style: none;
}

a{
	text-decoration: none; 	color: white;
}

.logo{
	margin-left: 5%;
}

.top{
	display: flex; flex-direction: row;
	margin-left: 35%;
	margin-bottom: 5%;
	margin-top: 3%;
}

.top a{
	color: #FDF00B;
}

.top a:hover{
	background-color: transparent;
	color: orange;
}


.menubar{ 
	background-color: transparent;
    margin-left: 15%; margin-bottom: 20px;
    width: 50%;
    font-size: 30px;
    padding-left: 10%;
    border-radius: 5px;
    padding-top: 5%;
    font-family: 'Exo', sans-serif;
}

.menubar > ul > h3{
	display: flex; flex-direction: row; 
	justify-content: space-between; 
}

.menubar > ul > h3 > li > a{
	color: #FDF00B;
	padding: 10px; text-align: center;
	border-radius: 5px;
}

.menubar h3 > li > a:hover{
	color: orange; 
	background-color: #343233; 
	box-shadow: -10px 10px 40px black;
}

.menubar h3 > li :active{
	color: orange;
	background-color: ;
}

.menubar > p{
	display: none;
	background-color: yellow;
}

.des{
	display: flex; flex-direction: column;
	background: #6E85AF;
	box-shadow: -10px 10px 40px black;
	margin-left: 20%;
	height: 100%;
	width: 61%;
	margin-top: 5%;
	border-radius: 5px;
}

.des h1{
	padding-left: 45%;
	margin-bottom: 5%;
}

.des p{
	font-size: 1.2em;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 0.2%;
}

form{
	display: flex; flex-direction: column;
	width: 60%;
	padding-left: 20%;
}

input{
	padding: 3%;
	font-size: inherit;
	border-radius: 5px;
	box-shadow: -5px 5px 40px black;
}

input:focus{
	background-color: #282824;
	color: white;
}

input[type="text"]{
	margin-bottom: 2%;
}

input[type="email"]{
	margin-bottom: 2%;
}

textarea{
		padding: 2%;
		font-size: 1.5em;
		border-radius: 5px;
		box-shadow: -5px 5px 40px black;
}

textarea:focus{
	background-color: #282824;
	color: white;
}

textarea[type="text"]{
	margin-bottom: 2%;
}

input[type="submit"]{
	margin-bottom: 2%;
	background-color: #4CAF50;
	font-size: 1.3em;
}

input[type="submit"]:hover{
		background-color: #2E7ADE;
}

footer{
	display: flex; flex-direction: row;
	justify-content: space-between;
	width: 99%;
	margin: 1%;
	margin-top: 10%;
}

.blox{
	background-color: #1979CA;
	border-radius: 5px;
	box-shadow: -10px 10px 40px black;
	width: 45%;
	justify-content: space-between;
	padding: 2%;
	text-align: center;
	font-size: 20px;
}

@media all and (max-width: 600px){
	body, .des{
		flex-direction: column;
		margin: 0; padding: 0;
	}

	footer{
		display: flex; flex-direction: row;
	} 

	.menubar > ul > h3{
		flex-direction: column;
		justify-content: space-between;
		background-color: #1979CA;
		border-radius: 5px;
		box-shadow: -10px 10px 40px black;
	}

	.menubar > ul > h3 > li{
		padding: 5%;
		text-align: center;
		margin: 2%;
	}

	.menubar{
		padding-left:0%; margin-left:30%;
		margin-top: 10%;
	}

	.des{
		display: flex;
		flex-direction: column;
		margin-bottom: 10%;
		width: 98%;
		height: 100%;
		padding-bottom: 10%;
		margin-top: 10%;
	}
	.des h3 a{
		padding-right: 20%; 
	}

	.des p{
		padding-right: 10%;
	}
	.img{
		width: 100%;
	}

	.top{
		margin-right: 100%;
	}
}
