body{
	background-color: #343233;
}

h1, h2, h3, h4, ul, p, a{
	margin: 1%; padding: 1px;
}

li{
	list-style: none;
}

a{
	text-decoration: none; 	color: white;
}

.top a{
	color: #FDF00B;
	text-align: center;
	padding: 5px;
}

.top a:hover{
	background-color: transparent;
	border-radius: 5px;
	color: orange;
}

.menubar{ 
	background-color: transparent;
    margin-left: 20%; margin-bottom: 20px;
    width: 50%;
    font-size: 30px;
    padding-left: 10%;
    border-radius: 5px;
}

.menubar > ul > h3{
	display: flex; flex-direction: row; 
	justify-content: space-between; 
}

.menubar > ul > h3 > li > a{
	color: #FDF00B;
	padding: 10px; text-align: center;
	border-radius: 5px;
}

.menubar h3 > li > a:hover{
	color: orange; 
	background-color: #013183; 
	box-shadow: -10px 10px 40px black;
}

.menubar h3 > li :active{
	color: orange;
	background-color: ;
}

.menubar > p{
	display: none;
	background-color: yellow;
}

h2{
	color: black;
	padding-left: 305px;
}

.des{
	display: flex; flex-direction: row;
	background: #00FF7F;
	box-shadow: -10px 10px 40px black;
	border-radius: 5px;
	margin-left: 20%;
	height: 100%;
	width: 61%;
	margin-top: 5%;
}

.image img{
	height: 100%;
	width: 450px;	
	border-radius: 5px;
}

.des .name{

	display: flex; flex-direction: column;
	padding-left: 1%;
	background-color: #00FF7F;
}

.des .name a{
	color: black; font-size: 40px;
}

.des .name p{
	font-size: 25px;
	padding-top: 10%;
	display: none;
}

.des .name:hover p{
	display: block;
}

footer{
	display: flex; flex-direction: row;
	justify-content: space-between;
	width: 99%;
	margin: 1%;
	margin-top: 10%;
}

.blox{
	background-color: #1979CA;
	border-radius: 5px;
	box-shadow: -10px 10px 40px black;
	width: 45%;
	justify-content: space-between;
	padding: 2%;
	text-align: center;
}


